<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href='/stylesheets/style.css'>
</head>
<body>

	<div id="left-col">
		
		<input id="course-search" placeholder="Search..." type="search" name="course-search">
		<input type="button" id="search-button" value="Submit"><br>

		<h5>My Classes:</h5>
		<ul id="class-list">
		</ul>

		<div id="profilelink">
		</div>

		<div id="adminlink">
		</div>

		<div id="tag-drop">
		</div>

	</div>

	<div id="right-col">

		<ul class="pages">
			<li class="chat page">
			  <div class="chatArea">
			    <ul class="messages"></ul>
			  </div>

			  <div id="chat-message-bar">
				<input class="inputMessage" placeholder="Type here..."/>

				<button id="tag-icon">Add Tag</button>
			  	<select id="tag-select">
				  <option value="notag">No Tag</option>
				  <option value="question">Question</option>
				  <option value="suggestion">Suggestion</option>
				</select>
			  </div>
			  
			</li>
			<li class="login page">
				<div id="login-area">
				  <form class="form" method="post" id="login-form">
				    <h3 class="title">Username</h3>
				    <input class="usernameInput" name="username" type="text" maxlength="14" pattern=".+" required>
				    <h3 class="title">Password</h3>
				    <input class="passwordInput" name="password" type="password" pattern=".+" required><br>
				    <input id="register-button" type="button" value="Register">
				  </form>
			    </div>

			    <div id="register-area">
				  <form class="form" id="register" method="post">
				    <input placeholder="Username" type="text" name="username" id="username" pattern=".+" required><br>
				    <input placeholder="Password" type="password" name="password" id="password" pattern=".+" required><br>
				    <input placeholder="Email" type="text" name="email" id="email" pattern=".+" required><br>
				    <input placeholder="Student Number" type="text" name="stunum" id="stunum" pattern="([0-9]{9})|([0-9]{10}){1}" required><br>

				    <input type="submit" value="Register">
				    <input id="login-button" type="button" value="Back to login">
				  </form>
			    </div>			  


			</li>




			<li class="profile page">
			  <div class="form">
				<h2 id="profilemessage"></h2>
				<h3 id="titleuser">Username:</h3>
				<div id="usernamedisplay">
				</div>
				<h3 id="titleemail">Update your email</h3>
				<input id="emailInput" type="text" />
				<h3 id="titlegivenname">Change Given Name</h3>
				<input id="givennameInput" type="text" />
				<h3 id="titlelastname">Change Last Name</h3>
				<input id="lastnameInput" type="text" />
				<h3 id="changepasstitle">Change your password</h3>
				<input id="changepasswordinput" type="password" />
				<h3 id="confirmpasstitle">Confirm your password</h3>
				<input id="confirmchangepasswordinput" type="password" />
				<div id="changestudentnumber">
				</div>
				<div id="changestatus">
				</div>
				<div id="changeyear">
				</div>
				<h3 id="titleaddcourse">Add Courses (Enter the code of the course you want to add)</h3>
				<input id="addcourse" type="text" />
				<button id="addcoursebutton" type="button">Submit</button>
				<h3 id="titleremovecourses">Remove Courses</h3>
				<div id="usercoursesdisplay">
				</div>
				<form id="saveinfo" method="post">
					<button id="save" type="button">Save</button>
				</form>
			      </div>
			</li>

			<li class="admin page">
			  <div class="form">
				<h3 id="titleadmin">Admin Page</h3>
				<h2 id="adminmessage"></h2>
				<table style="width:100%" id="userlistdisplay">
        
    				</table>
				<form id="getstudentinfouser" method="post">
					<h3 id="getusertitle">Find User by username</h3>
					<input id="getusernameinput" type="text" />
					<button id="getinfobyuser" type="button">Find User</button>
				</form>
				<form id="getstudentinfonum" method="post">
					<h3 id="getuserbynumtitle">Find User by student number</h3>
					<input id="getusernuminput" type="number" />
					<button id="getinfobynum" type="button">Find User</button>
				</form>
				<form id="changeuserprivilege" method="post">
					<h3 id="changeroletitle">Change User role (type in username of user to change)</h3>
					<input id="changeroleusername" type="text" />
					<select id="userroledrop">
				  		<option value="student">Student</option>
				  		<option value="instructor">Instructor</option>
				  		<option value="admin">Admin</option>
					</select>
					<button id="changerolesave" type="button">Save</button>
				</form>
				<form id="deleteuser" method="post">
					<h3 id="deleteusertitle">Delete User by username</h3>
					<input id="deleteusernameinput" type="text" />
					<button id="deleteuserbyuser" type="button">Delete User</button>
				</form>
			  </div>
			</li>
		</ul>

	</div>

	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/javascripts/main.js"></script>

	<script type="text/javascript">

		document.getElementById('tag-select').style.display = "none";

		document.getElementById('tag-icon').onclick = function(){
			document.getElementById('tag-icon').style.display = "none";
			document.getElementById('tag-select').style.display = "";
		};

		$('#register-area').hide();

    	$('#register-button').on('click', function(){
    		$('#login-area').fadeOut();
    		$('#register-area').fadeIn();
    	});

    	$('#login-button').on('click', function(){
    		$('#register-area').fadeOut();
    		$('#login-area').fadeIn();
    	});

	   	


	</script>

</body>
</html>
