<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <link rel="stylesheet" href='/stylesheets/style.css'>
</head>
<body>

	<div id="left-col">

		<h5 id="classtitle">My Classes:</h5>
		<ul id="class-list">
		</ul>

		<div id="profilelink">
		</div>

		<div id="adminlink">
		</div>

		<div id="tag-drop">
		</div>

	</div>

	<div id="right-col">

		<ul class="pages">
			<li class="chat page">
			  <div class="chatArea">
			    <ul class="messages"></ul>
			  </div>

			  <div id="chat-message-bar">
				<input class="inputMessage" placeholder="Type here..."/>

				<button id="tag-icon">Add Tag</button>
			  	<select id="tag-select">
				  <option value="notag">No Tag</option>
				  <option value="question">Question</option>
				  <option value="suggestion">Suggestion</option>
				</select>
			  </div>

			</li>
			<li class="login page">
				<div id="login-area">
				  <form class="form" method="post" id="login-form">
				    <h3 class="title">Username</h3>
				    <input class="usernameInput" name="username" type="text" maxlength="14" pattern=".+" required>
				    <h3 class="title">Password</h3>
				    <input class="passwordInput" name="password" type="password" pattern=".+" required><br>
				    <input id="register-button" type="button" value="Register">
				  </form>
			    </div>

			    <div id="register-area">
				  <form class="form" id="register" method="post">
				    <input placeholder="Username" type="text" name="username" id="username" pattern=".+" required><br>
				    <input placeholder="Password" type="password" name="password" id="password" pattern=".+" required><br>
				    <input placeholder="Email" type="text" name="email" id="email" pattern=".+" required><br>
				    <input placeholder="Student Number" type="text" name="stunum" id="stunum" pattern="([0-9]{9})|([0-9]{10}){1}" required><br>

				    <input type="submit" value="Register">
				    <input id="login-button" type="button" value="Back to login">
				  </form>
			    </div>


			</li>	




			<li class="profile page">
			  <div class="form">
				<h4 style="text-align:center;">Update your user settings</h4>
				<h6 style="text-align:center;" id="profilemessage">Update your user settings</h6>

				<div class="form-group row">
				  <label for="usernamedisplay" class="col-xs-2 col-form-label" id="titleuser">Username:</label>
				  <div class="col-xs-10">
				    <input class="form-control" type="text" id="usernamedisplay">
				  </div>
				</div>
				<div class="form-group row">
				  <label for="example-search-input" class="col-xs-2 col-form-label">Update your email:</label>
				  <div class="col-xs-10">
				    <input class="form-control" type="text" id="emailInput">
				  </div>
				</div>
				<div class="form-group row">
				  <label for="example-email-input" class="col-xs-2 col-form-label" id="titlegivenname">Change Given Name</label>
				  <div class="col-xs-10">
				    <input class="form-control" type="email" id="givennameInput" >
				  </div>
				</div>


				<div class="form-group row">
				  <label for="usernamedisplay" class="col-xs-2 col-form-label" id="titlelastname">Change Last Name:</label>
				  <div class="col-xs-10">
				    <input class="form-control" type="text" id="lastnameInput">
				  </div>
				</div>
				<div class="form-group row">
				  <label for="example-search-input" class="col-xs-2 col-form-label" id="changepasstitle">Change your password:</label>
				  <div class="col-xs-10">
				    <input class="form-control" type="text" id="changepasswordinput">
				  </div>
				</div>
				<div class="form-group row">
				  <label for="example-email-input" class="col-xs-2 col-form-label" id="confirmpasstitle">Confirm your password:</label>
				  <div class="col-xs-10">
				    <input class="form-control" id="confirmchangepasswordinput" type="password">
				  </div>
				</div>

				<div class="form-group row">
				  <label for="example-email-input" class="col-xs-2 col-form-label" id="confirmpasstitle">Change student number:</label>
				  <div class="col-xs-10">
				    <div id="changestudentnumber">
					</div>
				  </div>
				</div>

				<div class="form-group row">
				  <label for="example-email-input" class="col-xs-2 col-form-label" id="confirmpasstitle">Change Status:</label>
				  <div class="col-xs-10">
				    <div id="changestatus">
					</div>
				  </div>
				</div>

				<div class="form-group row">
				  <label for="example-email-input" class="col-xs-2 col-form-label" id="confirmpasstitle">Change Year:</label>
				  <div class="col-xs-10">
				    <div id="changeyear">
					</div>
				  </div>
				</div>
				
				<div class="form-group row">
				  <label for="usernamedisplay" class="col-xs-2 col-form-label" id="titleaddcourse">Add Courses (Enter the code of the course you want to add)</label>
				  <div class="col-xs-10">
				    <input class="form-control" id="addcourse" type="text">
				    <button id="addcoursebutton" type="button">Submit</button>
				  </div>
				</div>		
				
				<div class="form-group row">
				  <label for="usernamedisplay" class="col-xs-2 col-form-label" id="titleremovecourses">Remove Courses:</label>
				  <div class="col-xs-10">
				  	<div id="usercoursesdisplay">
					</div>
				  </div>
				</div>

			    <form id="saveinfo" style="text-align:center;" method="post">
					<button id="save" type="button">Save</button>
				</form>

		      </div>
			</li>


			<li class="admin page">
			  <div class="form">
				<h3 id="titleadmin">Admin Page</h3>
				<h2 id="adminmessage"></h2>
				<table style="width:100%; margin-bottom:2%;" id="userlistdisplay">

    			</table>
    			<div class="form-group row">
				  <label for="usernamedisplay" class="col-xs-2 col-form-label" id="getallusertitle">Get All Users: </label>
				  <div class="col-xs-10">
				    <form id="getallusers" method="post">
						<button id="getalluser" type="button">Submit</button>
					</form>
				  </div>
				</div>
				<div class="form-group row">
				  <label for="example-search-input" class="col-xs-2 col-form-label" id="getusertitle">Find User by username</label>
				  <div class="col-xs-10">
				    <form id="getstudentinfouser" method="post">
						<input id="getusernameinput" type="text" />
						<button id="getinfobyuser" type="button">Find User</button>
					</form>
				  </div>
				</div>
				<div class="form-group row">
				  <label for="example-email-input" class="col-xs-2 col-form-label" id="getuserbynumtitle">Find User by student number</label>
				  <div class="col-xs-10">
				    <form id="getstudentinfonum" method="post">
						<input id="getusernuminput" type="number" />
						<button id="getinfobynum" type="button">Find User</button>
					</form>
				  </div>
				</div>
				<div class="form-group row">
				  <label for="example-email-input" class="col-xs-2 col-form-label" id="getuserbynumtitle">Find User by student number</label>
				  <div class="col-xs-10">
				    <form id="getstudentinfonum" method="post">
						<input id="getusernuminput" type="number" />
						<button id="getinfobynum" type="button">Find User</button>
					</form>
				  </div>
				</div>
				<div class="form-group row">
				  <label for="example-email-input" class="col-xs-2 col-form-label" id="changeroletitle">Change User role (type in username of user to change)</label>
				  <div class="col-xs-10">
				    <form id="changeuserprivilege" method="post">
						<input id="changeroleusername" type="text" />
						<select id="userroledrop">
					  		<option value="student">Student</option>
					  		<option value="instructor">Instructor</option>
					  		<option value="admin">Admin</option>
						</select>
						<button id="changerolesave" type="button">Save</button>
					</form>
				  </div>
				</div>
				<div class="form-group row">
				  <label for="example-email-input" class="col-xs-2 col-form-label" id="deleteuser">Delete User by username</label>
				  <div class="col-xs-10">
				    <form id="deleteuser" method="post">
						<input id="deleteusernameinput" type="text" />
						<button id="deleteuserbyuser" type="button">Delete User</button>
					</form>
				  </div>
				</div>		
			  </div>
			</li>
		</ul>

	</div>

	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/javascripts/main.js"></script>

</body>
</html>
